/*
CSS Page Standard for Athletics Website:

Section Headers:
    text-transform: uppercase;
    font-family: 'BebasNeueRegular';
    font-size: 33px;
    font-weight: normal;
    line-height: 33px;
    color: black;

Paragraph: 
    font: 14px/20px arial, sans-serif;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    color: rgb(0,0,0);

Links (a):
    color: rgb(123,20,33);
    font-weight: bold;

Stevens Colors: 
    Red: #a32638 (163,38,56)
    Darker Red: #5a1620 (90,22,32)
    Stevens Gray: #afafaf (176,176,176)
    
Workday Link: https://stevens.wd5.myworkdayjobs.com/en-US/External/job/Hoboken-NJ---Main-Campus/FWS-Athletics-Event-Staff_RQ21677
Federal Work Study Information Link: https://www.stevens.edu/admissions/tuition-financial-aid/undergraduate-scholarships-aid/federal-programs/work-study

*/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    height: 100%;
    margin:auto;
}

h1 {
    text-transform: uppercase;
    font-family: 'BebasNeueRegular';
    font-size: 40px;
    font-weight: normal;
    line-height: 33px; 
}

h2 {
    text-transform: uppercase;
    font-family: 'BebasNeueRegular';
    font-size: 30px;
    font-weight: normal;
}

.header-container {
    color: #a32638;
    text-align:center;
    padding: 20px 10px 30px;
    width: 50%;
    margin: auto;
}

p {
    padding: 5px 0px;
    font: 14px/20px arial, sans-serif;
    color: rgb(0,0,0);
}

.center-text {
    text-align:center;
}

.button {
    background-color:#a32638;
    padding: 10px 50px;
    color: #fff;
    border:none;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    transition: background-color 0.5s ease;
}

.button-container {
    padding: 0px;
}

a:hover .button {
    background-color: #5a1620;
  }

.important-paragraph {
    color: #5a1620;
    text-decoration: underline;
}

.image-container {
    padding: 20px;
    text-align:center;
}

#main-image {
    background-color: #5a1620;
    width: 45%;
    max-width: 400px;
    display:inline-block;
    margin:auto;
    transition: opacity 0.5s ease;
}

#main-image:hover {
    opacity:0.9;
}

#learnmore {
    margin-right: 50px;
}
#applynow {
    margin-left: 50px;
}

.position-container{
    display: grid;
    padding: 10px;
    width: 80%;
    min-width: 300px;
    margin:auto;
}

.position-container:nth-child(even) {
    text-align:left;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 5px 1fr;
    grid-template-areas:
    "header header"
    "image body";
}

.position-container:nth-child(odd) {
    text-align:right;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 5px 1fr;
    grid-template-areas:
    "header header"
    "body image";
}


.position-container .left-image{
    display: table;
    color: #a32638;
    text-align:center;
    grid-area: image;
    width:100%;
    height:100%;
}

.left-image h1 {
    display: table-cell;
    vertical-align: middle;
}

.position-header {
    grid-area: header;
    background-color:#a32638;
}

.position-information {
    grid-area: body;
    background-color: #E2E2E2;
}

.position-container:nth-child(odd) .position-information {
    padding: 10px 40px 10px 10px;
}
.position-container:nth-child(even) .position-information {
    padding: 10px 10px 10px 40px;
}

    