/*
CSS Page Standard for Athletics Website:

Section Headers:
    text-transform: uppercase;
    font-family: 'BebasNeueRegular';
    font-size: 33px;
    font-weight: normal;
    line-height: 33px;
    color: black;

Paragraph: 
    font: 14px/20px arial, sans-serif;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    color: rgb(0,0,0);

Links (a):
    color: rgb(123,20,33);
    font-weight: bold;

Stevens Colors: 
    Red: #a32638 (163,38,56)
    Darker Red: #5a1620 (90,22,32)
    Stevens Gray: #afafaf (176,176,176)
    
*/